@import './global.scss'; 
@import './variables.scss'; 


#app {

    
}

.wrapper {


}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #474747;;
}